<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action='/wolves' method='POST'>
      <label>Name:</label><input type='text' name='name'>
      <label>Color:</label><input type='text' name='color'>
      <label>Age:</label><input type='text' name='age'>
      <input type='submit' value='join'>
    </form>
  </body>
</html>
