<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Single Wolf Specs</h1>
    <h3>Name: <%= wolves.name %></h3>
    <h3>Color: <%= wolves.color %></h3>
    <h3>Age: <%= wolves.age %></h3>
    <a href='/'>Home</a>
    <br>
    <br>
    <a href='/wolves/<%=wolves._id %>/edit'>Edit this Wolf</a>
  </body>
</html>
